<a class="article-date" href="<%- url || url_for(post.path) %>">
    <% if( icon ) { %>
    <i class="icon-calendar"></i>
    <% } %>
    <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, date_format) %></time>
</a>
