<% var url = url_for(config.archive_dir + '/' + post.date.format('YYYY/MM')) %>
<article class="archive-article archive-type-<%= post.layout %>">
    <div class="archive-article-inner">
        <header class="archive-article-header">
            <a class="archive-article-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
            <span class="archive-article-date">
                (<%- partial('post/date', {icon: false, date_format: 'M/D', url: url}) %>)
            </span>
        </header>
    </div>
</article>