<div class="comments">
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
      this.language = 'zh';
      this.page.url = '<%= page.permalink %>';
      this.page.title = '<%= page.title %>';
      this.page.identifier = '<%= page.path %>';
    };
    setTimeout(function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.async = true;
        s.src = 'https://sanonz.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    }, 1000);
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>