<footer class="footer">
    <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>, Theme by <a href="https://github.com/sanonz/hexo-theme-concise" target="_blank">Concise</a>
</footer>
<% if( theme.umeng && theme.umeng.prefix && theme.umeng.id ) { %>
<script type="text/javascript" src="//<%= theme.umeng.prefix %>.cnzz.com/z_stat.php?id=<%= theme.umeng.id %>&amp;web_id=<%= theme.umeng.id %>"></script>
<% } %>
