<div id="nav" class="nav">
    <div class="nav-mobile">
        <button id="open-panel" class="open-panel nav-mobile-item"><i class="icon-documents"></i></button>
        <h1 class="nav-mobile-title nav-mobile-item"><%= config.title %></h1>
        <button id="open-menus" class="open-panel nav-mobile-item"><i class="icon-library"></i></button>
    </div>

    <nav id="nav-inner" class="nav-inner">
        <% for (var key in theme.menu) { %>
            <a class="nav-item<% if( theme.menu[key] === '/' && is_home() || is_current(theme.menu[key]) ) {  %> active<% } %>" href="<%- url_for(theme.menu[key]) %>">
                <span class="nav-text"><%= key %></span>
            </a>
        <% } %>
    </nav>
</div>
